/* Fonts */

@import url("@/assets/fonts/StapelS/style.css");

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color:  rgba(124, 173, 201, 1);
    font-size: 17px;
    color: white;
    background: black;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Main */
.main {
    width: 100%;
}


/* Container */
.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}


/* Header */

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__table {
    width: 1052px;
    height: 100px;
    border: 2px solid white;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: white;
    
}

.header__image {
    width: 140px;
    height: 96px;
    margin: 0 auto;
    
    background: url("@/assets/images/metr.svg") center
    no-repeat;
    background-size: cover;
    border-right: 2px solid white;
}

.header__block {
    width: 145px;
    height: 96px;
    margin: 0 auto;
    border-right: 2px solid white;
}

.header__search {
    width: 426px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-right: 2px solid white;
}

.search {
    width: 340px;
    height: 40px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__block {
    width: 300px;
    height: 40px;
    margin: 0;
    padding-top: 20px;

    background: white;
    border: 1px solid black;
}

.search__img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding-top: 2px;
}

.header__contacts {
    width: 46px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header__contacts__imgtop {
    width: 48px;
    height: 48px;
    padding-top: 5px;
    border-bottom: 2px solid white;
}

.header__contacts__img {
    width: 48px;
    height: 48px;
    padding-top: 5px;
}

.header__block__content {
    width: 70px;
    height: 20px;
    margin: 0 auto;
    padding-top: 35px;
}

.header__block__contenttop {
    width: 145px;
    height: 48px;
    margin: 0 auto;
    border-bottom: 2px solid white;
}

.header__block__contentbott {
    width: 145px;
    height: 48px;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.nav__link_tomsk {
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}

.nav__link:hover, .nav__link_tomsk:hover {
    color: #389EEB;
    transition: color .2s linear;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-top: 250px;

    background-image: linear-gradient(to top, rgb(124, 173, 201, 1), rgb(94, 196, 242, 0.3)), url(
    "@/assets/images/intro.jpg");
    background-size: cover;
}

.intro__text {
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.intro__title {
    font-size: 25px;
    color: white;
    text-align: center;
}

.newhome {
    font-family: 'Inter', sans-serif;
}

.intro__subtitle {
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.intro_footer {
    width: 1050px;
    height: 80px;
    margin: 300px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro__btn {
    width: 185px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;

    background-color: rgba(26, 137, 201, 1);

}

.intro__button {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    
    font-weight: 500;
    color: white;
}

.intro__button:hover {
    color: #0f171d;
    font-weight: 600;
    transition: color .2s linear;
}

.intro__odnushka {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.odnushka {
    font-size: 17px;
    color: black;
    background: white;
    text-decoration: none;
    padding: 2px;
    font-weight: 600;
}

.odnushka__price {
    width: 115px;
    font-size: 17px;
    text-decoration: none;
    padding: 2px;
    font-weight: 900;
    color: black;
    background: white;
    font-family: 'Inter';
}

.title {
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 400;
}

/* About */

.about { 
    height: 100vh;
    background-color:  rgba(124, 173, 201, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.about__title {
    padding-left: 10%;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Stapel';
}

.video {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1300px;
    height: 590px;
    border: 1px solid black;
    background-image: linear-gradient(to top, rgb(124, 173, 201, 0.6), rgb(94, 196, 242, 0.2)), url(
    "@/assets/images/video.jpg");
    background-size: cover;

}

.about__us {
    margin-right: 5%;
    font-family: 'Inter';
    font-weight: 100;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
    
/* Suggestions */

.suggestions {
    padding-top: 10%;
    background-color:  rgba(124, 173, 201, 1);
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.suggestions__title {
    font-size: 25px;
    padding-left: 10%;
}

.suggestions__images {
    margin: 2% 12%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.sugg__img {
    flex-basis: 30%;
    height: 460px;
    margin: 4% 0 1% auto;
    background: linear-gradient(to top, rgba(1, 80, 140, 1), rgba(37, 45, 45, 0.6));
    transition: transform .2s linear;
}

.afterword {
    margin: 0 5% 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 17px;
}

.after__afterword {
    font-weight: 600;
    margin-right: 5%;
}

.gradient {
    
	display: inline-block;
	position: relative;    
	line-height: 0;
}

.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, rgba(15, 34, 38, 0.4), rgba(99, 137, 159, 0.8));
	opacity: 0.8;
}

.podlozhka {
    position: relative;
}

.podlozhka:hover .sugg__img {
    transform: translate3d(-10px, -10px, 0);
}


.podlozhka:hover .sugg__img img {
    opacity: 0.6;
}

.sugg__img img {
    transition: opacity .1s linear;
}

.sugg__text {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    opacity: 1;
    transition: opacity .2s linear;
    padding-bottom: 20%;
}

.sugg__text p {
    width: 220px;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 0 auto 0 2%;
    text-align: left;
}

.sugg__text h2 {
    width: 200px;
    font-weight: 600;
    margin: 0 auto 0 2%;
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    text-align: left;
}

.parametrs__block {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 2% 40% 2% 10%;
}

.parametrs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prm {
    width: 20%;
    height: 150%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Inter';
    font-size: 10px;
    background-color: rgba(26, 137, 201, 1);
    border-radius: 5px;
}

.prm__inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prm__text {
    margin-right: 15%;
}

.prm__inside img {
    padding-top: 20%;
}


/* Footer */

.footer {
    height: 200px;
    margin: 0 auto;
    padding-top: 1%;
    background-color:  rgba(124, 173, 201, 1);
}

.footer__search {
    width: 300px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-right: 2px solid white;
}

.footer__contacts {
    width: 165px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer__contacts__imgtop {
    width: 165px;
    height: 48px;
    border-bottom: 2px solid white;
    margin: 0;
}

.footer__contacts__img {
    width: 166px;
    height: 48px;
    margin: 0;
}